<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TfsInstance" value="christopher-cassidy.visualstudio.com"/>
    <add key="ProjectName" value="Puffin"/>
    <add key="ProjectGUID" value="b41f157a-fb78-4971-b73e-55e4a6210a46"/>
    <add key="RepositoryGUID" value="c5fa7207-cd50-4c74-9546-c9a81b471e0c"/>
  </appSettings>
</configuration>